@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .1rem 1rem rgba(1, 1, 0.4, 0.2);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
    --light-gray: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #fff !important;
    padding-top: 8rem;
    position: absolute;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    justify-content: space-around;
    padding: 2rem 9%;
    box-shadow: var(--box-shadow);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black)
}

.header .actions {
    font-size: 1.5rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    position: relative;
    background: hsl(210, 11%, 15%);
    color: white;
    padding: 10px 15px;
    display: flex;
    place-items: center;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.35rem;
    font-weight: 600;
    overflow: hidden;
}

.btn.hire {
    background: hsl(211, 100%, 35%);
}

.btn.dev {
    background: white;
    border: 1px solid rgb(0, 0, 0);
    color: #000;
}

.btn:hover {
    opacity: 0.8;
}

.btn.dev:hover {
    background: whitesmoke;
}

/* HERO SECTION */

.hero-container {
    background-color: #fff;
    display: inline-flex;
    margin: 40px;
    align-items: center;
    box-sizing: border-box;
    /* box-shadow: var(--box-shadow); */
    padding: 10px 40px;
    border-radius: 10px;
}

.hero-content {
    margin-right: 50px;
}

.hero-content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #141516
}

.hero-content h2 span {
    font-weight: 500;
    text-decoration: underline;
}

.hero-content p {
    font-size: 14px;
    margin: 20px 0;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn-one {
    background-color: hsl(211, 100%, 35%);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    margin-right: 70px;
    cursor: pointer;
}

.hero-btn-one:hover {
    background-color: hsl(211, 98%, 41%);
}

.hero-btn-two {
    background-color: hsl(210, 11%, 15%);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    margin-right: 70px;
    cursor: pointer;
}

.hero-btn-two:hover {
    background-color: hsl(207, 10%, 21%);
}

/* CATEGORY CARDS */

.category {
    background-color: #eee;
    padding: 20px;
    margin: 40px;
}

.category-title h2{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.category-title p{
    font-size: 16px;
    margin: 10px 0;
    font-style: italic;
}

.category-title a{
    font-style: none;
    color: hsl(211, 100%, 35%);
    text-decoration: underline;
    cursor: pointer;
}
.category-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    width: calc(25% - 20px); 
    box-sizing: border-box; 
    cursor: pointer;
}
.category-content h3{
    font-size: 20px;
}

.category-content .card-rating{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.category-content .card-rating i{
    color:hsl(36, 88%, 60%);
    font-size: 14px;
}
.category-content .card-rating i span{
    color: hsl(207, 10%, 21%);
    font-size: 14px;
    font-weight: 600;
}
.category-content .card-rating p{
    font-size: 14px;
    margin-top: -3px;
}
.category-content:hover{
    background-color: hsl(211, 75%, 32%);
    color: white
}

/* HIRING CARDS */
.hiring{
    padding:20px;
    margin:40px;
}

.hiring-title{
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}

.hiring-cards{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.hiring-content{
    margin:0 10px;
    width: calc(30% - 20px); 
    box-sizing: border-box; 
}
.hiring-content p,h3{
    margin: 15px;
    text-align: center;
}
.hiring-content h3{
    font-size: 1.7rem;
    color: hsl(212, 54%, 32%);
}

.hiring-content p{
    font-size: 13px;
    color: hsl(212, 54%, 32%);
}
.number-seq{
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.number-seq h1{
    padding: 1.5rem 2.5rem;
    background-color: #fff;
    border: 1px solid hsl(211, 98%, 41%);
    border-radius: 50%;
    font-size: 2.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: hsl(211, 98%, 41%);
}

.arrow{
    font-size: 3rem;
    color:hsl(212, 54%, 32%)
}

/* TESTIMONIALS */
.container {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    max-width: 1170px;
    margin: auto;
    padding: 30px 60px;
}

.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title {
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(207, 10%, 21%);
    line-height: 1.2;
}

.testimonials-item {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    z-index: 1;
}

.testimonials-item .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-item img {
    border-radius: 50%;
    max-width: 100px;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name {
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(107, 10%, 21%);
    line-height: 1.2;
}

.testimonials-item .job {
    text-transform: capitalize;
    color: hsl(207, 10%, 21%);
    font-size: 14px;
}

.testimonials-item p {
    font-size: 13px;
    margin-top: 20px;
    color: hsl(207, 10%, 21%);
}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 60%);
}

.testimonials .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: hsl(211, 100%, 35%);
}

.contact {
    padding: 20px;
    background-color: #130f40;
    margin: 40px 85px;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #fff;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #fff;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background-color: hsl(207, 10%, 21%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 1rem;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    background-color: cadetblue;
    color: hsl(0, 0%, 100%);
}


.footer {
    background-color: hsl(207, 10%, 21%);
    max-width: 100%;
    margin-bottom: 0;
    overflow: auto;
    padding: 60px 0 20px 100px;
}

.footer,
.footer a {
    color: white;
    font-size: 1.3rem;
}

.footer .footer-cols {
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer li {
    line-height: 1.9;
    list-style-type: none;
}

.feet {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feet p {
    margin: 40px 0;
    font-size: 1.5rem;
}

.feet-img {
    margin: 20px 0;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}